<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="../models/cliente.js"></script>
    <script src="../models/equipo.js"></script>
    <script src="../controllers/controller.js"></script>
</head>

<body>
    <div id="allbody" class="container">
        <h1>Examen Juan Carlos Amela</h1>
        <div id="create-camara-form">

            <div class="row">

                <div class="col">
                    <label for="nombreInput" class="form-label">Nombre del cliente</label>
                    <input type="text" class="form-control" id="nombreInput">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en el campo "nombre"</div>
                </div>

                <div class="col">
                    <label for="direccionInput" class="form-label">Dirección del cliente</label>
                    <input type="text" class="form-control" id="direccionInput">
                    <div  id="errorName" class="invalid-feedback">La dirección ingresada no es válida. solo puede contener letras sin acentuar (mayúsculas y minúsculas), números y espacios en blanco</div>
                </div>

                <div class="col">
                    <label for="precioMaxInput" class="form-label">Inversión máxima</label>
                    <input type="text" class="form-control" id="precioMaxInput">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar números en el campo "Inversion máxima"</div>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2" onclick="submitCamara()">Crear Nuevo cliente</button>
                </div>
            </div>
        </div>


        <div id="create-equipo-form" style="display: none;">

            <div class="row">

                <div class="col">
                    <label for="volumenEnfriador1" class="form-label">Volumen del enfriador 1</label>
                    <input type="text" class="form-control" id="volumenEnfriador1">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar números en los campos de: "Volumen del enfriador"</div>
                </div>

                <div class="col">
                    <label for="frigoriasEnfriador1" class="form-label">Frigorias del enfriador 1</label>
                    <input type="text" class="form-control" id="frigoriasEnfriador1">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Frigorias del enfriador"</div>
                </div>
                <div class="col">
                    <label for="precioEnfriador1" class="form-label">Precio del enfriador 1</label>
                    <input type="text" class="form-control" id="precioEnfriador1">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Precio del enfriador" Además, la suma de los precios de los enfriadores no puede ser superior a la: "inversion máxima" del primer formulario.</div>
                </div>

                <div class="col">
                    <label for="volumenEnfriador2" class="form-label">Volumen del enfriador 2</label>
                    <input type="text" class="form-control" id="volumenEnfriador2">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar números en los campos de: "Volumen del enfriador"</div>
                </div>

                <div class="col">
                    <label for="frigoriasEnfriador2" class="form-label">Frigorias del enfriador 2</label>
                    <input type="text" class="form-control" id="frigoriasEnfriador2">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Frigorias del enfriador"</div>
                </div>
                <div class="col">
                    <label for="precioEnfriador2" class="form-label">Precio del enfriador 2</label>
                    <input type="text" class="form-control" id="precioEnfriador2">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Precio del enfriador" Además, la suma de los precios de los enfriadores no puede ser superior a la: "inversion máxima" del primer formulario.</div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <label for="volumenEnfriador3" class="form-label">Volumen del enfriador 3</label>
                    <input type="text" class="form-control" id="volumenEnfriador3">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar números en los campos de: "Volumen del enfriador"</div>
                </div>

                <div class="col">
                    <label for="frigoriasEnfriador3" class="form-label">Frigorias del enfriador 3</label>
                    <input type="text" class="form-control" id="frigoriasEnfriador3">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Frigorias del enfriador"</div>
                </div>
                <div class="col">
                    <label for="precioEnfriador3" class="form-label">Precio del enfriador 3</label>
                    <input type="text" class="form-control" id="precioEnfriador3">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Precio del enfriador" Además, la suma de los precios de los enfriadores no puede ser superior a la: "inversion máxima" del primer formulario.</div>
                </div>

                <div class="col">
                    <label for="volumenEnfriador4" class="form-label">Volumen del enfriador 4</label>
                    <input type="text" class="form-control" id="volumenEnfriador4">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar números en los campos de: "Volumen del enfriador"</div>
                </div>

                <div class="col">
                    <label for="frigoriasEnfriador4" class="form-label">Frigorias del enfriador 4</label>
                    <input type="text" class="form-control" id="frigoriasEnfriador4">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Frigorias del enfriador"</div>
                </div>
                <div class="col">
                    <label for="precioEnfriador4" class="form-label">Precio del enfriador 4</label>
                    <input type="text" class="form-control" id="precioEnfriador4">
                    <div  id="errorName" class="invalid-feedback">Rellena bien los campos con un mínimo de 3 caracteres. Asegúrate de ingresar letras en los campos de: "Precio del enfriador" Además, la suma de los precios de los enfriadores no puede ser superior a la: "inversion máxima" del primer formulario.</div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2" onclick="submitequipoForm()">Añadir Enfriadores al presupuesto</button>
                </div>
            </div>
        </div>

        <div id="result-camara-form" style="display: none;">

            <div class="row">

                <div class="col create-camara-output">
                    <p id="camaraTitle"></p>
                </div>
            </div>
            <div class="row">
                <div class="col create-camara-output">
                    <p id="nombreOutput"><p>
                </div>

                <div class="col create-camara-output">
                    <p id="direccionOutput"></p>
                </div>

                <div class="col create-camara-output">
                    <p id="precioMaxOutput"></p>
                </div>

                <div class="col create-camara-output"></div>

            </div>

        </div>


        <div id="result-equipos-form">

            <div class="row">

                <div class="col create-camara-output">
                    <p id="equipoTitle"></p>
                </div>
            </div>
            <div class="row">
                <div class="col create-camara-output">
                    <p id="equipoOutput1"><p>
                </div>

                <div class="col create-camara-output">
                    <p id="equipoOutput2"></p>
                </div>

                <div class="col create-camara-output">
                    <p id="equipoOutput3"></p>
                </div>

                <div class="col create-camara-output">
                    <p id="equipoOutput4"></p>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>